
html {
 box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.row {
	margin: 0 -10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
	float: left;
	padding: 0 10px;
}

.row--inline {
  font-size: 0;
}

.row--inline:after {
  display: none;
}

.row--inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91,66%;
}

.col-12 {
  width: 100%;
}

.float-right {
	float: right;
}

img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

body {
	min-width: 960px;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	color: #000000;
}

.main-header {
	position: relative;
	margin: 0 0 60px;
	background-color: #f2f6f8; 
}

.header-catalog {
	margin-bottom: 0;
}

.header-top {
	width: 100%;
	height: 42px;
	font-size: 0;
	background-color: #293449;
	border: none;
}

.logo {
	display: inline-block;
	width: 220px;
	padding: 10px 10px 13px;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	vertical-align: top;
	background-color:#ee3643;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .24);
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.header-search {
	position: relative;
	display: inline-block;
	width: 270px;
	vertical-align: top;
}

input[type="search"] {
	width: 270px;
	padding: 12px 10px 12px 49px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #000000;
	background-color: #293449;
	outline: none;
	border: none; 
}

input[type="search"]::-webkit-input-placeholder {
	color: #ffffff;
}

input[type="search"]::-moz-placeholder {
	color: #ffffff;
}

input[type="search"]:-moz-placeholder {
	color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
	padding-bottom: 10px;
	color: #ffffff;
}

input[type="search"]:hover {
	background-color: #212a3a;
}

input[type="search"]:-ms-:hover {
	height: 42px;
	background-color: #212a3a;
}

input[type="search"]:focus {
  background-color: #ffffff;
}

input[type="search"] ~ label {
	position: absolute;
	top: 12px;
	left: 18px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: .3;
	width: 17px;
  height: 17px;
  background-position: -10px -1563px;
 }

input[type="search"]:hover ~ label {
	opacity: 1;
}

input[type="search"]:focus ~ label {
	position: absolute;
	top: 12px;
	left: 18px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 17px;
  height: 17px;
  background-position: -10px -1600px;
}

.key-bookmark {
	position: relative;	
	display: inline-block;
	width: 150px;
	padding: 12px 10px 12px 44px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	vertical-align: top;
}

.key-bookmark::before {
	position: absolute;
	content: "";
	top: 20px;
	left: 23px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: .3;
	width: 14px;
  height: 16px;
  background-position: -10px -705px;
}

.key-bookmark:hover {
	background-color: #212a3a;
}

.key-bookmark:hover::before {
	opacity: 1;
}

.key-bookmark:active,
.key-basket:active {
	color: rgba(255, 255, 255, .6);
	background-color: #161d29;
}

.key-bookmark:active::before {
	opacity: .3;
}

.key-basket {
	position: relative;
	display: inline-block;
	width: 150px;
	padding: 12px 10px 12px 50px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	vertical-align: top;
}

.key-basket::before {
	position: absolute;	
	content: "";
	top: 20px;
	left: 23px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: .3;
	width: 17px;
  height: 16px;
  background-position: -10px -669px;
}

.key-basket:hover {
	background-color: #212a3a;
}

.key-basket:hover::before {
	opacity: 1;
}

.key-basket:active:before {
	opacity: .3;
}

.key-basket-active {
	background-color: #ee3643;
}

.order {
	display: inline-block;
	width: 150px;
	padding: 12px 10px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	background-color: #63a63e;
}

.order:hover {
	background-color: #5fbb2d;
}

.order:active {
	color: rgba(255, 255, 255, .5);
	background-color: #518534;
}

.header-info {
	margin: 45px 0 40px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
}

.header-info-catalog {
	margin-bottom: 34px;
}

.header-title {
	margin: 0;
	padding: 4px 47px 0 53px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #ee3643;
	font-style: italic;
	text-align: left;
}

.header-contacts {
	padding: 0;
}

.phone-number {
	position: relative;
	display: block;
	width: 270px;
	margin: 0;
	padding: 12px 10px 12px 72px;
	font-size: 21px;
	line-height: 18px;
	color: #e9292a;
	border: 3px solid #ffffff;
}

.phone-number::before {
	position: absolute;
	content: "";
	top: 20px;
	left: 20px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 19px;
  height: 19px;
  background-position: -10px -1432px;
}

.header-address {
	display: block;
	width: 270px;
	margin: 0;
	padding: 1px 0 0 10px;
	font-size: 14px;     
	line-height: 24px;
	color: #32425c;
}

.user-block {
	margin: 0;
	font-size: 0;
}

.user-login {
	position: relative;
	display: inline-block;
	width: 120px;
	margin-left: 19px;
	padding: 14px 10px 14px 48px;
	font-size: 21px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	background-color: #ffffff;
	vertical-align: top;
}

.user-login::before  {
	position: absolute;
	content: "";
	top: 22px;
	left: 24px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
  height: 17px;
  background-position: -10px -1205px;
}

.user-login:hover {
	color: rgba(238, 54, 67, 1);
}

.user-login:hover::before {
	content: "";
	position: absolute;
	top: 22px;
	left: 24px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
 	height: 17px;
 	background-position: -10px -1242px;
}

.user-login:active {
	color: rgba(0, 0, 0, .3);
}

.user-login:active::before {
	position: absolute;
	content: "";
	top: 22px;
	left: 24px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
  height: 17px;
  background-position: -10px -1205px;
}

.user-registration {
	float: right;
	display: inline-block;
	width: 150px;
	margin-left: 10px;
	padding: 14px 10px 14px 25px;
	font-size: 21px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	background-color: #ffffff;
}

.user-registration:hover {
	color: rgba(238, 54, 67, 1);
}

.user-registration:active {
	color: rgba(0, 0, 0, .3);
}

.user-name {
	position: relative;
	display: block;
	width: 300px;
	padding: 14px 46px;
	font-size: 21px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	background-color: #ffffff;
}

.user-name::before {
	position: absolute;
	content: "";
	top: 24px;
	left: 24px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
  height: 18px;
  background-position: -10px -1726px;
}

.user-name::after {
	position: absolute;
	content: "";
	top: 24px;
	left: 278px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 21px;
  height: 17px;
  background-position: -10px -1279px;
}

.user-name:hover::before {
	position: absolute;
	content: "";
	top: 24px;
	left: 24px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
  height: 18px;
  background-position: -10px -1764px;
}

.user-name:hover::after {
	position: absolute;
	content: "";
	top: 24px;
	left: 278px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 21px;
  height: 17px;
  background-position: -10px -1316px;
}

.user-name:active{
	color: rgba(0, 0, 0, .3);
}

.user-name:active::before {
	position: absolute;
	content: "";
	top: 24px;
	left: 24px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
  height: 18px;
	background-position: -10px -1726px;
}

.user-name:active::after {
	position: absolute;
	content: "";
	top: 24px;
	left: 278px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 21px;
  height: 17px;
	background-position: -10px -1279px;
}

.user-profile-list {
	padding-left: 0;
	list-style: none;
}

.profile-item {
	display: inline-block;
	padding: 7px 18px 0 17px;
	font-size: 0;
	vertical-align: top;
}

.profile-item:last-child {
	position: relative;
	padding-right: 0;
}

.profile-item:last-child:before {
	position: absolute;
	content: "";
	top: 17px;
	left: 0px;
	transform: translate(-50%, -50%);
	width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.profile-link {
	font-size: 16px;
	line-height: 18px;
	color: rgba(50, 66, 92, 1);
}

.profile-link:hover {
	color: rgba(238, 54, 67, 1);
}

.profile-link:active {
	color: rgba(50, 66, 92, .3);
}

.main-menu {
	padding: 0 0 60px;
}

.nav-list {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
	text-align: center;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 rgba(41, 52, 73, 1);
}

.nav-item {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.nav-link {
	display: block;
	padding: 19px 30px 25px;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif; 
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.nav-item:hover {
	background-color: #293449;
}

.nav-item:active {
	background-color: #1d2739;
}

.nav-link:active {
	color: rgba(255, 255, 255, .5);
}

.promo {
	position: relative;
	width: 300px;
	min-height: 122px;
	margin-bottom: 20px;
	padding: 20px 10px 20px 23px;
	font-family: Cuprum, Arial, Verdana, sans-serif;
}

.materials,
.delivery  {
	background-color: #f6b22d;
	z-index: 10;
}

.materials::after {
	position: absolute;
	content: '';
	top: 30px;
	left: 214px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 44px;
  height: 65px;
  background-position: -10px -338px;
  z-index: 20;
}

.delivery::after {
	position: absolute;	
	content: '';
	top: 32px;
	left: 192px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 78px;
	height: 63px;
	background-position: -10px -586px;
	z-index: 20;
}

.instruments {
	background-color: #4aafde;
	z-index: 10;
}

.instruments::after {
	position: absolute;	
	content: '';
	top: 32px;
	left: 197px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 75px;
	height: 61px;
	background-position: -10px -423px;
	z-index: 20;
}

.equipment {
	background-color: #cc79d1;
	z-index: 10;
}

.equipment::after {
	position: absolute;	
	content: '';
	top: 30px;
	left: 192px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 78px;
	height: 62px;
	background-position: -10px -504px;
	z-index: 20;
}

.discounts {
	background-color: #85d179;
	z-index: 10;
}

.discounts::after {
	position: absolute;	
	content: '';
	top: 26px;
	left: 196px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 59px;
	height: 72px;
	background-position: -10px -246px;
	z-index: 20;
}

.promo-title {
	display: block;
	width: 156px;
	padding: 0 0 12px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.promo-link {
	display: block;
	width: 135px;
	margin-left: 2px;
	padding: 10px 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif; 
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 4px;
}

.promo-link:hover {
	background-color: rgba(0, 0, 0, .2);
}

.promo-link:active {
	background-color: rgba(0, 0, 0, .3);
}


.promo-slider {
	position: relative;
	margin-bottom: 53px;
}

.promo-slider input[type=radio] {
	display: none;
}

.slider-slides {
	width: 1240px;
}

.slide-index {
	position: relative;
	float: left;
	width: 620px;
	height: 264px;
	background: #f2f6f8;
}

.slide-1 {
	background: #f2f6f8 url("../img/decor-background-slide-1.png") no-repeat;
}

.slide-2 {
	background: #f2f6f8 url("../img/decor-background-slide-2.png") no-repeat;
}

.slider-inner {
  overflow: hidden;
}

.slider-controls {
	position: absolute;
  width: 40px;
  margin: 0 290px;
  bottom: 26px;
  text-align: center;
  z-index: 100;
}

.slide-toggle{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls .slide-toggle[for="btn-1"],
#btn-2:checked ~ .slider-controls .slide-toggle[for="btn-2"]  { 
  background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides .slide-1{ 
   transform: translate(0px);
}

#btn-2:checked ~ .slider-inner .slider-slides .slide-2{ 
   transform: translate(-620px);
 }

#btn-3:checked ~ .slider-inner .slider-slides .slide-1{ 
   transform: translate(0px);
}

#btn-4:checked ~ .slider-inner .slider-slides .slide-2{ 
   transform: translate(-620px);
} 

.icon-left {
	position: relative;
	z-index: 5;
}

.icon-left::before {
	position: absolute;
	content: '';
	top: -84px;
	left: -290px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 22px;
  height: 40px;
  background-position: -10px -1145px;
  cursor: pointer;
  z-index: 15;
}

.icon-right {
	position: relative;
	z-index: 5;
}

.icon-right::after {
	position: absolute;
	content: '';
	top: -84px;
	left: 263px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 22px;
  height: 40px;
  background-position: -10px -1471px;
  cursor: pointer;
  z-index: 15;
}

.slide-info {
	margin: 25px 25px 122px;
} 

.slide-name {
	margin: 0;
	padding: 0 4px 4px 0;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

.slide-description {
	display: block;
	padding-right: 4px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.btn {
	padding: 10px 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;	
	background-color: #ee3643; 	
}

.btn:hover {
	background: #ca2c37; 
}

.btn:active {
	background: #ba2732; 
}  

.slide-btn {
	display: block;
	width: 195px;
	margin: 0 0 20px 25px;
}

.section-top-block {
	width: 100%;
	min-height: 88px;
	margin: 0 0 20px;
	background-color: #f7f3ec;
}

.section-header {
	float: left;
	width: 550px;
	margin: 0;
	padding: 30px 0 30px 30px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #32425c;
	text-transform: uppercase;
}

.section-header-catalog-page {
	width: 100%;
}

.section-btn {
	float: right;
	width: 253px;	
	margin: 25px 25px 0 0;
}

.goods {
	position: relative;
	display: block;
	width: 220px;
	height: 318px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
	border: 2px solid #f7f3ec;
}

.goods:hover {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
	border: none;
}

.ribbon-new {
	position: relative;
}

.ribbon-new::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 60px;
  height: 59px;
  background-position: -10px -1353px;
  z-index: 25;
}

.active {
	position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 220px;
 	min-height: 180px;
  padding: 46px 0;
	background-color: #ffffff;
  z-index: 15; 
}

.active-buy,
.active-bookmark {
  display: block;
  width: 135px;
  height: 38px;
  margin: 0 auto 7px;
  padding: 10px 45px;
  font-size: 14px;
  line-height: 18px;
  font-family:  Cuprum, Arial, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.active-buy {
	position: relative;
 	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
}

.active-buy::before {
	position: absolute;
	content: "";
	top: 18px;
	left: 20px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 17px;
  height: 16px;
  background-position: -10px -669px;
  opacity: .3;
  z-index: 15;
} 

.active-buy:hover {
 background-color: #5fbb2d;
}

.active-buy:hover::before {
	opacity: 1;
}

.active-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.active-buy:active::before {
	opacity: 1;
}

.active-bookmark {
  width: 135px;
  padding: 7px 30px;
  color: rgba(50, 66, 92, 1);
  border: 3px solid rgba(99, 166, 62, 1); 
}

.active-bookmark:hover {
	border: 3px solid rgba(50, 66, 92, 1);
}

.active-bookmark:active {
	color: rgba(50, 66, 92, .3);
	border: 3px solid rgba(50, 66, 92, .3);
}

.goods:hover .active {
  display: block;
}

.goods-view {
	display: block;
	max-width: 218px;
	max-height: 159px;
	margin: 0  auto 20px;
	overflow: hidden;
	z-index: 10;
}

.goods-name {
	width: 100%;
	margin-top: 0;
	margin: 0 auto 12px;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: none;
}

.goods-name span {
	text-transform: uppercase;
}

.model-name {
	display: block;
	text-transform: uppercase;
}

.goods-price {
	margin: 0;
	padding: 0;
}

.price-old {
	display: block;
	width: 100%;
	min-height: 28px;
  padding-bottom: 0;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #999999;
	text-align: center;
	text-decoration: line-through;
}

.price-btn {
	position: relative;
	display: block;
	width: 140px;
	min-height: 38px;
  margin: 0 auto;
	font-size: 17px;
	line-height: 18px;
  font-weight: 700;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}	

.price-btn::after {
	position: absolute;
	content: '';
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
	border: 19.05px solid #fff;
  border-left-color: #ee3643;
}

.price-btn:hover {
	background-color: #ee3643; 
}

.price-btn:active {
	background-color: #ee3643; 
}

.goods-gallery {
	margin-bottom: 20px;
	font-size: 0;
	vertical-align: top;
	z-index: 1;
}

.goods-gallery .active {
	vertical-align: top;
}

.goods-gallery .goods-name {
	font-size: 18px;
}

.goods-gallery .goods-price {
	font-size: 17px;
}


.brand-name {
	margin-bottom: 20px;
	border: 2px solid #f7f3ec;
}

.brand-name:hover {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
}

.brand-name:active {
 	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, .5);
	opacity: .3;
}

.service {
	width: 100%;
	min-height: 522px;
	margin-top: 64px;
	background-color: #f2f6f8;
}

.service-description {
	width: 396px;
}

.service-name {
	margin: 0;
	padding: 70px 0 28px;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.service-description p {
	margin: 0;
	padding: 0;
}

.tab-item input[type=radio] {
  display: none;
}

.tab-menu {
	position: relative;
  width: 100%;
  min-height: 282px;
  margin: 66px 0 0;
  padding-left: 0;
  list-style: none;
  z-index: 15;
}

.tab-menu::before {
	position: absolute;
	content: "";
	top: -40px;
	left: 230px;
	background-image: url("../img/decor-tab-shadow.png");
	background-repeat: no-repeat;
	width: 10px;
 	height: 272px;
 	z-index: 20;
}

.tab-item label {
  position: relative;
  display: block;
  width: 240px;
  height: 62px;
  padding: 16px 22px;
	font-size: 21px;
  line-height: 30px;
  font-weight: 700;  
  font-family: Cuprum, Arial, Verdana, sans-serif;
  color: #ffffff;
 	background: #32425c;
 	border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.tab-item label:hover {
  background-color: #293449;
}
       
[id^=tab]:checked + label {
  color: #000000;
  background-color: #ffffff;
	border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
       
 [id^=tab]:checked ~ [id^=tab-body] {
  display: block;
}

.tab-content {
  position: absolute;
  top: 0;
  left: 320px;
  width: 700px;
  height: 282px;
	display: none;
	overflow: hidden;
	z-index: 10;
}

.tab-delivery {
	background-image: url("../img/decor-delivery.png");
	background-repeat: no-repeat;
	background-position: 152px 25px;
}	

.tab-garant {
	background-image: url("../img/decor-garant.png");
	background-repeat: no-repeat;
	background-position: right 17px bottom 0;
}

.tab-credit {
	background-image: url("../img/decor-kredit.png");
	background-repeat: no-repeat;
	background-position: right 34px bottom 0;
}

.tab-content-name {
	display: block;
	width: 376px;
	margin: 6px 0 32px;
	padding-right: 10px;
	font-size: 36px;
	line-height: 24px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #32425c;
	text-align: left;
	text-transform: uppercase; 
}

.tab-content-text {
	width: 384px;
	margin: 0;
	padding: 0 10px 0 0; 
}

.tab-content-text:last-child {
	padding-bottom: 30px;
}

.credit-btn {
	display: block;
	width: 200px;	
	margin: 30px 0 0 0;
	text-align: center;
}

.company-content {
	min-height: 537px;
}

.content-title {
	margin: 0;
	padding: 82px 10px 30px 0;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.content-info {
	margin: 0;
	padding: 0 10px 23px 0;
}

.content-info:nth-child(3) {
	padding-bottom: 0;
}

.auto-company-list {
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif; 
	color: #000000;
}

.list-item {
	position: relative;
	padding: 0 10px 19px 0;
	list-style: none;
}

.list-item:last-child {
	padding-bottom: 0;
}

.list-item::before {
	position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 8px;
  left: -40px;
  background-color: #fb565a;
}

.info-btn {
	display: block;
	width: 220px;	
	margin: 38px 24px 85px 0; 
}

.map-info {
	width: 100%;
	height: auto;
}

.map-link img {
	display: block;
	padding-top: 8px;
}

.map-btn {
	display: block;
	width: 300px;	
	margin: 41px 24px 85px 0; 
}


.breadcrumb-list {
	position: relative;
	margin: 0;
	padding: 17px 0;
	list-style: none;
}

.breadcrumb-item {
	position: relative;
	display: inline-block;
	padding: 0 19px;
	text-transform: uppercase;
	z-index: 5;
}

.breadcrumb-link-home::before {
	position: absolute;
	content: "";
	top:-4px;
	left: 7px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 15px;
  height: 12px;
  background-position: -10px -1076px;
}

.breadcrumb-item:nth-child(2) {
	padding-left: 12px;
}

.breadcrumb-item:nth-child(2)::before {
	position: absolute;
	content: "";
	top: 12px;
	left: -10px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 8px;
  height: 12px;
 	background-position: -10px -1531px;
}

.breadcrumb-item:nth-child(n+2)::after {
	position: absolute;
	content: "";
	top: 12px;
	right: -10px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 8px;
  height: 12px;
  background-position: -10px -1531px;
}

.breadcrumb-item:last-child::after {
	display: none;
}

.breadcrumb-link {
	color: #000000;
  text-decoration: none;
}

.section-body {
	text-transform: uppercase; 
}

.filter-form-name {
	display: block;
	width: 220px;
	min-height: 30px;
	padding: 6px 18px;
	background-color: #f7f3ec; 
	border-radius: 4px;
}

.filter-price {
	display: block;
	margin: 0;
	padding: 0 0 25px 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #e5e5e5;
	border-left: 0;
}

.filter-name {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}

.filter-name-price {
	padding: 12px 0;
}

.range-filter {
	width: 220px;
	min-height: 128px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 10px;
	padding: 0 27px;
	background-color: #f7f3ec;
	border-radius: 0 0 4px 4px;
	overflow:hidden; 
	z-index: 5; 
}

.scale {
	width: 100%;
	margin-top: 42px;
	height: 2px;
  background-color:#d7dcde;
  z-index: 5; 
}

.scale .bar {
  height: 2px;
  background-color: #00ca74;
  z-index: 5; 
}

.toggle {
  position:absolute;
  top: 32px;
  left: 22px;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .14);
  cursor:pointer;
  z-index: 15;
}

.min-toggle {
	left: 19px;
}

.max-toggle {
	left: 158px;
}

.price-controls {
	position: relative;
	display: block;
	width: 220px;
	height: 38px;
	z-index: 5;
}

.price-controls input {
	margin: 0;
  width: 95px;
  padding: 10px 5px;
  font-size:17px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: #000000;
  text-align: center;
  background: #f7f3ec;
  border: 0;
  border-radius: 4px;
}

.min-price {
	position: absolute;
  left: 0;
  z-index: 10;
}

.max-price {
	position: absolute;
  right: 0;
  z-index: 10;
}

.price-dash {
	position: absolute;
	top: 7px;
	left: 104px;
}

.filter-brand {
	margin: 0;
	padding: 0;
}

.filter-producers {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 15px;
	line-height: 20px;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #e5e5e5;
	border-left: 0;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	display: block;
	margin: 0;
	padding: 1px 0 18px 34px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: #000000;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	position: absolute;
	content: "";
	display: block;
	top: 10px;
	left: 12px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 27px;
  height: 23px;
  background-position: -10px -791px;
}

input[type="checkbox"]:checked + label::before {
	position: absolute;
	content: "";
	display: block;
	top: 10px;
	left: 12px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 27px;
  height: 23px;
  background-position: -10px -834px;
}

input[type="checkbox"] + label:hover::before {
	position: absolute;
	content: "";
	display: block;
	top: 10px;
	left: 12px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 27px;
  height: 23px;
	background-position: -10px -10px;
}

input[type="checkbox"]:checked + label:hover::before {
	position: absolute;
	content: "";
	display: block;
	top: 10px;
	left: 12px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 27px;
  height: 23px;
  background-position: -10px -53px;
}

input[type="checkbox"][disabled] + label::before {
	opacity: .3;
}

.filter-type {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	line-height: 20px;
}

.filter-type input[type="radio"] {
	display: none;
}

.filter-type input[type="radio"] + label {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 0 18px 35px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color:#000000;
	cursor: pointer;
}

.filter-type-power input[type="radio"] + label::before {
	position: absolute;
	content: "";
	display: block;
	top: 8px;
	left: 11px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 25px;
  height: 25px;
  background-position: -10px -877px;
}

.filter-type-power input[type="radio"]:checked + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 11px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 25px;
  height: 25px;
  background-position: -10px -922px;
}

.filter-type-power input[type="radio"] + label:hover::before {
	position: absolute;
	content: "";
	display: block;
	top: 8px;
	left: 11px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 25px;
  height: 25px;
 	background-position: -10px -96px;
}

.filter-type-power input[type="radio"]:checked + label:hover::before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 11px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	opacity: 1;
	width: 25px;
  height: 25px;
  background-position: -10px -141px;
}

.filter-type-power input[type="radio"][disabled] + label::before {
	opacity: .3;
}

input[type="submit"] {
	width: 140px;
	margin-top: 60px;
	padding: 10px 35px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: #000000;
	text-align: center;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.goods-sorting {
	margin-bottom: 20px;
	width: 100%;
	min-height: 30px;
	background-color: #f7f3ec;
	border-radius: 4px;
}

.goods-sorting-name {
	float: left;
	display: inline;
	padding: 6px 140px 6px 18px;
}

.goods-sorting-list {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
	text-align: right;
}

.sorting-item {
	display: inline-block;
	padding: 6px 0;
	font-size: 13px; 
	text-decoration: none;
	vertical-align: top;
}

.sorting-active {
	color: #ee3643;
}

.sorting-item:nth-child(2) {
	padding-left: 72px;
}

.sorting-item:nth-child(3) {
	padding-left: 65px;
}

.sorting-item:nth-child(4) {
	padding-left: 46px;
}

.sorting-item:last-child {
	padding-left: 20px;
}

.arrow-up {
	display: block;
	margin-top: 6px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
 	height: 10px;
  background-position: -10px -1696px;
}

.arrow-down {
	display: block;
	margin-top: 6px;
	margin-left: 0px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
  height: 10px;
  background-position: -10px -1008px;
}

.arrow-up-active {
	display: block;
	margin-top: 6px;
	margin-left: 0px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
  height: 10px;
  background-position: -10px -1666px;
}

.arrow-down-active {
	display: block;
	margin-top: 6px;
	margin-left: 0px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
  height: 10px;
  background-position: -10px -1637px;
}


.arrow-up:hover {
	display: block;
	margin-top: 6px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
  height: 10px;
  background-position: -10px -216px;
}

.arrow-up-active:hover {
	display: block;
	margin-top: 6px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
  height: 10px;
  background-position: -10px -1666px;
}


.arrow-down:hover {
	display: block;
	margin-top: 6px;
	margin-left: 0px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 11px;
  height: 10px;
  background-position: -10px -186px;
}

.sorting-link {
	display: inline;
	color: rgba(0, 0, 0, .3);
	text-decoration: none;
	border-bottom: 1px dotted rgba(238, 54, 67, 1);
	vertical-align: top;
}

.sorting-link:hover {
	color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid rgba(238, 54, 67, 1);
} 

.panagination {
	margin: 32px 0 60px;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.page-item{
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: top;
}

.page-item-active {
	width: 38px;
	height: 38px;
	padding: 10px 4px;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	background-color: #ee3643;
	border: 1px solid #ee3643;
	border-radius: 4px;
}

.page-link {
	display: block;
	width: 38px;
	height: 38px;
	padding: 10px 4px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.page-link-next {
	width: 140px;
	padding: 10px 30px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;*/
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.page-link:hover {
	border: 1px solid #bdc6ca;
}

.page-link:active {
	border: 1px solid #ee3643;
}

.index-content{
	width: 100%;
	min-height: 262px;
	background-color: #f2f6f8;
}

.content-name {
	margin: 0px;
	padding: 70px 10px 28px 0;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.index-content p {
 	margin: 0;
 	padding: 0;
}

.index-content p:last-child {
	padding-bottom: 68px;
} 

.main-footer {
	margin-top: 0;
}


.footer-top-part {
	width: 100%;
	min-height: 192px;
	background-color: #32425c;
}

.footer-logo {
	padding-top: 21px;
	padding-bottom: 20px;
	font-size: 30px;
}

.footer-navigation {
	margin: 0;
	padding: 38px 0 35px 10px;
	text-align: right;
	font-size: 0;
}

.menu-item {
	display: inline-block;
	margin: 0;
	padding: 0 30px;
	vertical-align: top;
}

.menu-item:first-child {
	padding-left: 0;
} 

.menu-item:last-child {
	padding-right: 0;
} 

.menu-link {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: rgba(255, 255, 255, 1); 
	text-decoration: none;
}

.menu-link:hover {
	text-decoration: underline;
}

.menu-link:active {
	color: rgba(255, 255, 255, .5);
}

.footer-navigation-color{
	padding-top: 0;
	padding-bottom: 0;
}

.footer-navigation-color .menu-link {
	color: rgba(255, 209, 128, 1);
}

.footer-navigation-color .menu-link:active{
	color: rgba(255, 209, 128, .5);
}

.footer-contacts p {
	margin: 0;
	padding: 0 2px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
}

.footer-bottom-part {
	width: 100%;
	min-height: 110px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
	background-color: #293449;
}

.company-copyright {
	margin: 38px 0;
}

.copyright-name {
	padding: 0 70px 0 0;
}

.footer-social {
	width: 170px;
	margin: 34px auto 30px;
	font-size: 0;
	text-align: left;
}

.social-btn {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 4px 4px 0;
	background-color: #212a3a;
	border-radius: 50%;
	vertical-align: top;
}

.social-btn:first-child {
	margin-left: 4px;
}

.social-btn:hover,
.social-btn:active {
	background-color: #ee3643;
}

.social-btn-vk::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 20px;
  height: 12px;
  background-position: -10px -1802px;
}

.social-btn-fb::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 10px;
  height: 18px;
	background-position: -10px -1038px;
}

.social-btn-inst::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 17px;
  height: 17px;
  background-position: -10px -1108px;
}

.footer-info {
	display: inline-block;
	width: 140px;
	margin: 38px 45px 0 0;
	font-size: 0;
	vertical-align: top;
}

.footer-info:last-child {
	width: 100px;
}

.footer-info-name {
	display: block;
	width: 140px;
	padding: 0;
	font-size: 16px;
}

.footer-info-link {
	display: block;
	width: 140px;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
	text-decoration: none;
}

.footer-info-link:hover {
	text-decoration: underline;
}

.footer-info-link:active{
	text-decoration: none;
	color: #ee3643;
}

.footer-info:last-child {
	margin-left:0;
	margin-right: 0;
}


.modal-content {
	position: absolute;
	width: 620px;
	display: none;
	margin-left: -310px;
	background-color: #ffffff;
	border-top: 7px solid #ee3643;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
	z-index: 100;
}

.modal-content::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
  height: 112px;
  background-color: #f1f1f1;
  z-index: -1;
}

.modal-content-feedback {
	top: 206px;
	left: 50%;
	padding: 48px 80px 38px;
}

.modal-content-basket {
	top: 92px;
	left: 50%;
	padding: 38px 80px 38px;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 9px;
	width: 21px;
  height: 21px;
 	font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-close::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 21px;
  height: 21px;
  background-position: -10px -967px;
  pointer-events: none;
}	

.modal-form-feedback label {
	float: left;
	width: 220px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color:  #000000;
}

.modal-form-feedback label:nth-child(2) {
	float: right;
}

.modal-form-feedback label:nth-child(3) {
	width: 100%;
}

.modal-form-feedback input[type="text"] {
	width: 220px; 
	height: 38px;
	margin: 10px 0 18px 0;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.modal-form-feedback input[type="email"] {
	width: 220px; 
	height: 38px;
	margin: 10px 0 18px 0;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.modal-form-feedback textarea {
	display: block;
	width: 100%;
	margin: 10px 0 74px;
	padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  resize: vertical;
}

.modal-form-feedback input[type="submit"] {
	width: 100%;
	margin: 0;
	padding: 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;	
	background: #ee3643;
	border: none; 
	outline: none;
	z-index: 200;
}

.modal-basket-name {
	position: relative;
	display: block;
	width: 460px;
	margin: 30px auto 112px;
	padding: 0 10px 0 100px;
	font-size: 30px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	text-transform: none;
	z-index: 60;
}

.modal-basket-name::before {
	position: absolute;
	content: "";
	top: 10px;
	left: 30px;
	transform: translate(-50%, -50%);
	width: 64px;
  height: 64px;
 	border-radius: 50%;
  background-color: #63a63e;
  z-index: 65;
}

.modal-basket-name::after {
	position: absolute;
	content: "";
	top: 10px;
	left: 32px;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	width: 39px;
  height: 30px;
  background-position: -10px -741px;
	z-index: 70;
}

.modal-form-basket input[type="submit"] {
	float: left;
	width: 220px;
	margin: 0;
	padding: 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;	
	background-color: #ee3643;
	border: none; 
	outline: none;
}

.modal-form-basket input[type="reset"] {
	float: right;
	width: 220px;
	margin: 0;
	padding: 10px; 
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;	
	background-color: #ffffff; 
	border: 0;
	outline: none;
}

.modal-content-map {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 940px;
	height: 450px;
	margin-top: -225px;
	margin-left: -470px;
	background: url("../img/decor-background-map.png");
	background-position: -13px, 0;
	background-color: #e9e5dc;
	border: 0;
	box-shadow: 0 0 16px 0 rgba(35, 31, 32, 0.5);
	z-index: 100;
}
