body {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	color: #000000;
} 

.header-title {
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	text-align: left;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #ee3643;
}

.section-header {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	color: #32425c;
}